body {
  margin: 0;
  font-family: gordita,Arial,Helvetica Neue,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-item {
  border: 1px solid;
  margin: 10px 0px;
}

.dashboard {
  border: 1px solid;
  margin-top: 40px;
  padding: 20px 20px;
}

.gameitem-container {
  margin: 10px 0px;
  border : 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gameitem-container>*:nth-child(3){
  align-self: stretch;
}

.gameitem-col {
  width : 50%;
}

.btn-full-height {
  height: 100%;
}

.dashboard-item-container {
  margin: 0;
}

.game-status-title{
  font-weight: bold;
}

.container{
  overflow: hidden;
}

.brand-logo{
  font-size: 32px!important;
}

.logo{
  height: 64px;
  width: 64px;
}

ol{
  padding-left: 0px;
  list-style: inside decimal;
}

.ranking-container{
  border: 1px solid;
  padding: 10px 10px;
}

.card {
  margin-top: 50px;
}

.card-friend-item {
  margin-top: 0px;
}

.game-landing-container{
  padding: 20px 0px;
}

.quick-match-title {
  text-align: center;
}

.find-game-margin {
  margin-top: 60px;
  border: solid 1px;
  padding: 20px 20px;
}

.player-content{
  text-align: center;
  color: black!important;
  padding-left: 0px!important;
}

.score-content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.flex-col{


}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.game-item{
  height: 40px;
  text-align: center;
}

.play-button{
  width: 100%;
  font-size: 24px;
  text-transform: none;
  font-size: 24px;
  text-transform: none;
}

.category-title{
  text-align: center;
  font-size: 24px;
}

.category-selection-title{
  text-align: center;
}

.category-title-container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #C4C4C4;
}

.category-title-container:hover{
  background-color: #42A5F5;
  color: #FFFF;
}

.category-title-container:focus{
  background-color: #42A5F5;
  color: #FFFF;
}

.category-display-container{
  display: flex;
  margin: 20px 0px;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: #C4C4C4;
}

.answer-display-container{
  margin: 20px 0px;
  height: 250px;
  background-color: white;
  border: 1px solid;
  font-size: 30px;
}

.square-container{
  margin: 4px 8px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid;
  text-align: center;
  font-size: 16px;
}

.game-finished-container{
  margin-top: 20px;
  padding-bottom: 40px;
  border: 1px solid;
}

.game-finished-btn{
  margin-top: 20px;
}

.sticky-nav{
  position: fixed;
  top:0;
}

.homepage-container{
  background-image: url("./img/background-logo.jpg");
  background-color: white;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: brightness(90%);
}


.homepage-title-1{
  font-size: 38px;
  color: white;
  white-space: normal;
}

.homepage-title-2{
  font-size: 38px;
  font-weight: bold;
  color: white;
}

.homepage-title-3{
  font-size: 22px;
  font-weight: 300;
  color:white;
}

.game-set-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .sidenav-trigger{
  margin: 0px 0px;
}

.game-category-col{
  padding-left: 0px!important;
}

.leaderboard-title{
  text-align: center;
  font-size: 28px;
}

.nav-wrapper ul li a:hover{
  color: #64B5F6;
  transition: color .3s!important;
}

.nav-wrapper ul li a{
  font-size: 16px;
}

.friends-card-padding{
  padding: 8px !important;
}

.friend-req-container{
  margin: 10px 0px;
  border-bottom: 1px solid #838383;
  border-top: 1px solid #838383;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.friend-req-btn{
  margin-right: 12px;
}

.radio-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-underline-users{
  border-bottom: 1px solid;
}

.col-padding-friend-landing{
  padding-left: 0px!important;
}
