body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-item {
  border: 1px solid;
  margin: 10px 0px;
}

.dashboard {
  border: 1px solid;
  margin-top: 40px;
  padding: 20px 20px;
}

.gameitem-container {
  margin: 10px 0px;
  border : 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameitem-col {
  width : 50%;
}

.dashboard-item-container {
  margin: 0;
}

.game-status-title{
  font-weight: bold;
}

.container{
  overflow: hidden;
}

.brand-logo{
  font-size: 32px!important;
}

.logo{
  height: 64px;
  width: 64px;
}

ol{
  padding-left: 0px;
  list-style: inside decimal;
}

.ranking-container{
  border: 1px solid;
  padding: 10px 10px;
}

.card {
  margin-top: 50px;
}
.game-landing-container{
  padding: 20px 0px;
}

.quick-match-title {
  text-align: center;
}

.find-game-margin {
  margin-top: 60px;
  border: solid 1px;
  padding: 20px 20px;
}

.player-content{
  text-align: center;
}

.score-content{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.game-item{
  border: 1px solid;
  text-align: center;
}

.play-button{
  width: 100%;
}

.category-title{
  text-align: center;
  font-size: 24px;
}

.category-selection-title{
  text-align: center;
}

.category-title-container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #C4C4C4;
}

.category-title-container:hover{
  background-color: #42A5F5;
  color: #FFFF;
}
.category-display-container{
  display: flex;
  margin: 20px 0px;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: #C4C4C4;
}

.answer-display-container{
  margin: 20px 0px;
  height: 250px;
  background-color: white;
  border: 1px solid;
  font-size: 30px;
}

.square-container{
  margin: 4px 8px;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid;
  text-align: center;
  font-size: 16px;
}

.game-finished-container{
  margin-top: 20px;
  padding-bottom: 40px;
  border: 1px solid;
}

.game-finished-btn{
  margin-top: 20px;
}


