body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-item {
  border: 1px solid;
  margin: 10px 0px;
}

.dashboard {
  border: 1px solid;
  margin-top: 40px;
  padding: 20px 20px;
}

.gameitem-container {
  margin: 10px 0px;
  border : 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameitem-col {
  width : 50%;
}

.dashboard-item-container {
  margin: 0;
}

.game-status-title{
  font-weight: bold;
}

.container{
  overflow: hidden;
}

.brand-logo{
  font-size: 32px!important;
}

.logo{
  height: 64px;
  width: 64px;
}

ol{
  padding-left: 0px;
  list-style: inside decimal;
}

.ranking-container{
  border: 1px solid;
  padding: 10px 10px;
}

.card {
  margin-top: 50px;
}

.quick-match-title {
  text-align: center;
}

.find-game-margin {
  margin-top: 60px;
  border: solid 1px;
  padding: 20px 20px;
}
